@import url('https://fonts.googleapis.com/css?family=Raleway');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway";
}
html {
  font-size: 10px;
}

.container {
  width: 100%;
  max-width: 1060px;
  margin: 0 auto;
}
.container:before, .container:after {
  display: table;
  content: "";
  clear: both;
}

.header {
  background-color: #000000;
}

.header h1 {
  font-size: 1.4rem;
  font-weight: 600;
  color: white;
  padding: 15px 0;

  width: 50%;
  float: left;
}

.header h1 span {
  color: #27c7ab;
}

.header nav {
  width: 50%;
  float: left;
}

.mainMenu {
  list-style-type: none;
  width:100%;
  text-align: right;
}
.mainMenu li {
  display: inline-block;
  position: relative;
}

.mainMenu li a {
  display: block;
  color: #ffffff;
  padding: 15px 25px;
  font-size: 1.4rem;
  text-transform: uppercase;
}
.subMenu {
  display: none;
  position: absolute;
  left: 0;
  text-align: left;
  top: calc(100% + 20px);
  background-color: black;
}
.triangle {
  position: absolute;
  width: 0;
  height:0;
  border: 20px solid transparent;
  border-bottom: 20px solid black;
  top: -40px;
  left: calc(50% - 20px);
}

.hasChildren a:focus + .subMenu {
  display: block;
}

#slider {
  width: 100%;
  padding: 100px 0 50px;
  background: linear-gradient(#fafafa, #d0cfd7);
  float: left;

}
 .tekst {
  padding-top: 50px;
  padding-bottom:10px;
 text-align: center;
 margin-bottom: 30px;
 }

 img {
  float:left;
}

 span {
  color: #27c7ab;
 }

.przycisk {
  border-radius:10px;
  text-decoration: none;
  padding: 10px;
  color: white;
  width: auto;
  height: 20px;
  background-color: #27c7ab;
  margin-top: 30px;
  margin-bottom: 20px;
}

button{
  color: #27c7ab;
  
}
